.key1{
    height: 30px;
    width:80px;
    box-shadow:-2px -2px 5px rgba(252, 251, 251, 0.15);
    box-shadow: 2px 2px 5px rgba(252, 251, 251, 0.15);
    border-radius: 5px;
    background-color: #eeeded;
    color: rgb(131, 131, 131);
    transition-duration: 0.5s ;
    transition-property: box-shadow translate ;
    letter-spacing: 2px;
    border:none;
    margin-bottom: 5px;
    cursor: pointer;
    
}

.key1:hover{

    box-shadow:2px 2px 2px rgba(7, 7, 7,0.15);
    translate: -1px -1px ;
    
    
}
.key1:active{
    opacity:50%;
}
.div1{
    display: inline-block;
    width: 90px;
    height: 180px;

}
